body{
    font-family: 'Poppins'
}
h1{
    font-size: 48px;
}
p{
    font-size: 16px;
    
}
.header-color{
    background-color:#264653;
}
.gray-style{
    filter: grayscale(100%);
}
.filled{
    color:#E77C40 ;
}
